/* Small Screen */
.container {
  background-color: #221f1f;
  padding: 1rem;
}

.navbar {
  display: flex;
  flex-direction: column;
}

.navbar__brand {
  font-size: 2.4rem;
  margin-bottom: 1rem;
  margin: 0 auto;
  color: #e50914;
}

.navbar__list {
  display: flex;
  flex-direction: column;
  list-style: none;
  text-align: center;
}

.navbar__item {
  margin-bottom: 1rem;
}

.nav__title {
  color: #f5f5f1;
  text-decoration: none;
}

/* Medium Screen */
@media (min-width: 768px) {
  .navbar {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }

  .navbar__brand {
    margin-bottom: 0;
  }

  .navbar__list {
    flex-direction: row;
  }

  .navbar__item {
    margin: 0 1rem;
  }
}

/* Large Screen */
@media (min-width: 992px) {
}
